conda.enabled = true
params {
    phased_pedigree_vcf_dir = "/net/harris/vol1/data/pedigree_phasing/230116_phasedchroms"
    onekg_vcf_dir = "/net/harris/vol1/data/30x1KG"
    map_file_dir = "/net/harris/vol1/data/beagle_genetic_map_nobackup"
    hap_ibd_jar = "$baseDir/hap-ibd.jar"
    pedigree_sample_file = "$baseDir/data/pedigree_samples_name.txt"
}
process {
    executor = 'sge'
    clusterOptions = "-P sage"
    memory = { 1.GB * task.attempt } 
    cpus = 1 
    time = {1.d * task.attempt}
    errorStrategy = {task.exitStatus == 137..140 ? 'retry' : 'terminate'}
    maxRetries = 3
    withLabel: 'hap_ibd' {  
        executor = 'sge'
        clusterOptions = "-P sage"
        memory = { 1.GB * task.attempt } 
        cpus = 8 
        time = {1.d * task.attempt}
        penv = 'serial'
        errorStrategy = {task.exitStatus == 137..140 ? 'retry' : 'terminate'}
        maxRetries = 3
    }
}
trace {
    enabled = true
    fields = 'task_id,hash,name,status,exit,attempt,duration,realtime,peak_rss,scratch'
    overwrite = false
}
